@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!!</h1>
    <p>BootCamp Formação .NET</p>
    <p>Projeto Front-end com ASP.NET MVC,</p>
    <p>Integrando API NET C# com Entity Framework - DIO</p>
</div>
